# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Calculator with four methods/out/
/Problems/Calculator with four methods/out/production/classes/
/Problems/Decompose a math function/out/
/Problems/Decompose a math function/out/production/classes/
/Problems/Project constants and methods/out/
/Problems/Project constants and methods/out/production/classes/
/Problems/The Hello World program/out/
/Problems/The Hello World program/out/production/classes/
/Problems/The longest ascending sequence/out/
/Problems/The longest ascending sequence/out/production/classes/